<!DOCTYPE html>
<meta name=robots content=noindex>
<meta name=generator content='vBuilder @ Nette Framework'>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>


<style type="text/css">
	body { color:#333;background:white;width:800px;margin:40px auto; }
	.container {
		position: absolute;
		top: 50%;
		margin-top: -215px;/* half of #content height*/
		left: 0;
		width: 100%;
		
	}

	.main { width: 500px; height: 430px; margin: 0 auto; background: url('http://www.v3net.cz/images/logo-v3net.cz-w220-transparent.png') no-repeat left center; padding-left: 300px; overflow: visible; }
	h1 { font:bold 45px/1.5 sans-serif;margin:.6em 0 .1em 0 }
	h2 { font:bold 27px/1.0 sans-serif;margin: 0 0 .6em 0 }
	p { font:21px/1.5 Georgia,serif;margin:1.5em 0 }
	p.tr { font:21px/1.5 Georgia,serif;margin:1.5em 0; padding: 1.5em 0 0 0; border-top: 1px solid #ccc; color: grey }
	small { font-size:70%;color:gray }
	A { color: #0000ee; }
	A:hover { color: #cc3300; }
</style>

<title>Web v rekonstrukci</title>

<div class="container">
<div class="main">
	<h1>Web v rekonstrukci</h1>
	<h2>V současné době probíhá rekonstrukce webu</h2>
	
	<p>Prosím omluvte dočasnou nedostupnost stránek.<br />
	Vraťte se později.</p>
	
	<p>V případě dotazu nás kontaktujte na e-mailu <a href="mailto:info@v3net.cz">info@v3net.cz</a>
	
	<p class="tr">Na stránkách pracuje <a href="http://www.v3net.cz">V3Net.cz, s.r.o.</a></p>
</div>
</div>