<!DOCTYPE html>
<meta name=robots content=noindex>
<meta name=generator content='vBuilder @ Nette Framework'>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>


<style type="text/css">
	body { color:#333;background:white;width:600px;margin:40px auto }
	h1 { font:bold 45px/1.5 sans-serif;margin:.6em 0 .1em 0 }
	h2 { font:bold 27px/1.0 sans-serif;margin: 0 0 .6em 0 }
	p { font:21px/1.5 Georgia,serif;margin:1.5em 0 }
	p.tr { font:21px/1.5 Georgia,serif;margin:1.5em 0; padding: 1.5em 0 0 0; border-top: 1px solid #ccc; color: grey }
	small { font-size:70%;color:gray }
	A { color: #0000ee; }
</style>

<title>Prohlížeč není podporován</title>

<h1>Prohlížeč není podporován</h1>
<h2>Váš webový prohlížeč je příliš zastaralý</h2>

<p>Pro korektní zobrazení této webové stránky prosím aktualizujte Váš internetový prohlížeč.</p>

<p class="tr">Pro aktualizaci prosím pokračujte na stránku ze seznamu níže nebo kontaktujte <strong>vašeho správce počítače</strong>.</p>

<ul>
	<li><a href="http://www.google.com/chrome/index.html?hl=cs&brand=CHMA">Stáhnout nejnovější verzi prohlížeče Google Chrome</a></li>
	<li><a href="http://firefox.mozilla.cz/">Stáhnout nejnovější verzi prohlížeče Mozilla Firefox</a></li>
	<li><a href="http://www.microsoft.cz/ie/">Stáhnout nejnovější verzi prohlížeče Internet Explorer</a></li>
</ul>

<p n:if="isset($_SERVER['HTTP_USER_AGENT'])"><small>{$_SERVER['HTTP_USER_AGENT']}</small></p>