{addCss LIBS_DIR . '/vBuilderFw/vBuilderFw/Application/UI/Form/IntegerPicker/Css/integer.picker.css'}
{$input}
<a class="integerPickerMore" href="#" data-integerPicker-id="{$input->id}">
	<img width="9" height="9" title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAMAAADXT/YiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF1QTFRF3v/elciVt+q3o9ajtei1oNOgf7J/h7qHqt2q9P/0reCtp9qn0v/SU4ZTg7aDxvnGibyJ3P/cwPPAtOe0ms2a4P/g9v/24//j+f/5yv3KgLOAiLuI////AAAAVIdUiA7AUQAAAEtJREFUeNo0zEcSgDAMQ1HRO6GkOtj3PyZmMvzVGy2EQ0oZ8pQE4mPkyTtVCI6RatXJX7NgW5Ph6150a8eGO1up7EBE/S7I/98rwABZZQdfCxgobAAAAABJRU5ErkJggg==" />
</a>

<a class="integerPickerLess" href="#" data-integerPicker-id="{$input->id}">
	<img width="9" height="9" title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAMAAADXT/YiAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAF1QTFRF7cnJr1ZW7cvL6Lu75K6u2Y+P7MjI36Cg9+jo1oWF+e3t6b+/57e39N7e2IqK2pKS9ePj/fr6+vHx+e7u/vz8/fn58dbW+u/v4aen5bKy1oaG2pGRAAAA////sFdXSWwcnQAAAEtJREFUeNo0zEcSgDAMQ1HRO6QXB3z/Y2Imw1+90UK4uFbAT43B2jnvdRQZE61VrWi9vzZGM6sjhHGXDV3OfZpEaSCi5WSU/+8VYABQDgczaqfjHwAAAABJRU5ErkJggg==" />
</a>