{if isset($webFilesHash)}
	<link rel="stylesheet" href="{$basePath}/css/{$webFilesHash}.css" type="text/css" media="all" />
	<script type="text/javascript" src="{$basePath}/js/{$webFilesHash}.js"></script>
{/if}