services:
	authenticator: vBuilder\Security\Authenticator('vManager\Security\User')
	authorizator: vManage\Security\Permission
	
	# Hash provider
	passwordHashProvider: vBuilder\Security\Sha1SaltedHashProvider
	
	# User config
	userConfig:
		factory: vBuilder\Config\DbUserConfig::createService(['%appDir%/config/userdefaults.neon'])		
		
	# vBuilder ORM repositories	
	repository:
		factory: vBuilder\Orm\DibiRepository::createPersistentRepositoryServiceAlias
		
	persistentRepository: vBuilder\Orm\DibiRepository
	sessionRepository: vBuilder\Orm\SessionRepository
	
	# Translator
	translator: vBuilder\Localization\Translator
		