services:
	# Authentication / authorization layer
	user:
		class: vBuilder\Security\User
		setup:
			- setAuthorizator(@user.authorizator.acl)

	# Identity factory
	user.identityFactory:
		class: vBuilder\Security\IdentityFactory

	# Password hash provider
	user.passwordHasher.sha1Salted:
		class: vBuilder\Security\PasswordHashers\Sha1SaltedPasswordHasher

	# Authenticator against records in local DB
	user.authenticator.dbPassword:
		class: vBuilder\Security\Authenticators\DatabasePasswordAuthenticator(@user.passwordHasher.sha1Salted, @user.identityFactory)

	# Authenticator against LDAP (bind)
	user.authenticator.ldapBind:
		class: vBuilder\Security\Authenticators\LdapBindAuthenticator(@user.identityFactory)
		setup:
			- setServerUrl('ldaps://ldap.v3net.cz')

	# Authenticator with PSK in local DB
	user.authenticator.dbPsk:
		class: vBuilder\Security\Authenticators\PresharedSecretAuthenticator(@user.identityFactory)

	# ACL authorizator
	user.authorizator.acl:
		class: vBuilder\Security\Authorizators\DatabaseAclAuthorizator

	# User config
	userConfig:
		factory: vBuilder\Config\DbUserConfig::createService(['%appDir%/config/userdefaults.neon'])		
		
	# vBuilder ORM repositories	
	repository:
		factory: vBuilder\Orm\DibiRepository::createPersistentRepositoryServiceAlias
		
	persistentRepository:
		class: vBuilder\Orm\DibiRepository
		
	sessionRepository:
		class: vBuilder\Orm\SessionRepository
	
	# Translator
	translator:
		class: vBuilder\Localization\Translator
		setup:
			- addDictionary('app', '%appDir%')
	
	# Page metadata
	metadata:
		class: vBuilder\Application\MetaDataProvider
		
	# Web files generator (Css, Js, ...)
	webFilesGenerator:
		class: vBuilder\Application\WebFilesGenerator

	# Class info provider
	classInfo:
		class: vBuilder\Application\ClassInfoProvider

	# UI Region provider
	regionProvider:
		class: vBuilder\Application\UI\RegionProvider
		
parameters:
	languages: ['cs']

	security:
		password:
			minLength: 6
		